.subReddits {
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: var(--accent-color);
	height: 100vh;
	width: 17rem;
	max-width: 80vw;
	border-radius: 0 0 0 0.25rem;
	box-shadow: -4px 5px 8px 1px rgba(0, 0, 0, 0.35);
	padding-right: 0.5rem;
	overflow: hidden;
}
@keyframes menu-slide {
	from {
		transform: translateX(600px);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes menu-slide-out {
	from {
		transform: translateX(0);
	}
	to {
		right: translateX(600px);
	}
}
#toggle-menu[type='checkbox'] {
	display: none;
}
#toggle-menu[type='checkbox']:checked ~ .subReddits {
	/* transform: translateX(0);
	animation: menu-slide ease-in-out 0.2s; */
}
#toggle-menu[type='checkbox']:not(:checked) ~ .subReddits {
	/* transform: translateX(600px); */
	/* animation: menu-slide-out ease-in-out 0.2s; */
}
nav .subReddits button {
	position: relative;
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	background-color: var(--accent-color);
	border: 1px solid var(--background-color);
	margin: 0.45rem 0.25rem;
	padding: 0.2rem 0.95rem;
	border-radius: 0.25rem;
	letter-spacing: 0.05rem;
	min-width: 15rem;
	overflow: hidden;
}
nav .subReddits button:first-child {
	margin-top: 4rem;
}

nav .subReddits button .active {
	font-weight: bolder;
}
nav .subReddits button:hover {
	background-color: var(--background-color);
	transition:
		background-color 350ms cubic-bezier(0.19, 1, 0.22, 1),
		color 350ms cubic-bezier(0.19, 1, 0.22, 1);
}
nav .subReddits button a:hover {
	color: var(--accent-color);
}
nav .subReddits button a,
nav .subReddits button a:hover {
	border-radius: inherit;
	transition: left 350ms cubic-bezier(0.19, 1, 0.22, 1);
}
nav .subReddits button a::before {
	content: 'r/';
}
nav .subReddits button a {
	display: flex;
	width: 100%;

	border-radius: inherit;
	padding: 0 0.2rem;
	font-size: large;
	text-decoration: none;
	color: var(--background-color);
}
