.subReddits-top{    
    display: flex;
    justify-content: center;
    background-color: var(--accent-color);
    width: 2em;
    height: 1.4em;
    padding-bottom: .25rem;
    border-radius: 0.45em 0.45em 0 0;
    box-shadow: -6px -8px 10px -5px rgba(0, 0, 0, 0.15), 
                19px -8px 10px -1px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -25px;
    right: 0;
                
}
.subReddits{
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    padding: .25em .5em .25em .5em;
    border-radius: 0.45rem 0 0.45rem 0.45rem;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
   
}
nav .subReddits li{
    display: flex;box-sizing: border-box;
    flex-direction: row;
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
    margin: .25em 0;
    border-radius: .25em;
    transition: linear 200ms;
}
nav .subReddits li:hover{
    background-color: var(--accent-color);
}
nav .subReddits li .active, li{
    border-radius: inherit;
    background-color: var(--accent-color);
    color: var(--background-color);   
}
nav .subReddits li a::before {
    content: "r/";
}
nav .subReddits li a{
    display: flex;
    width: 100%;
    border-radius: inherit;
    padding: 0 .2em;
    font-size: xx-large;
    text-decoration: none;
    color: var(--font-color);
}
