.subReddits-top{    
    /* position: relative; */
    display: flex;
    justify-content: center;
    background-color: var(--accent-color);
    width: 2em;
    height: 1.4em;
    /* top: -1.7em;
    right: -10.8em; */
    transform: translate(189px, 6px);
    padding-bottom: .55rem;
    border-radius: 0.45em 0.45em 0 0;
    box-shadow: -6px -8px 10px -5px rgba(0, 0, 0, 0.25), 
                14px -5.5px 10px -2px rgba(0, 0, 0, 0.25);
                
}
.subReddits{
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    padding: .25em 1em .25em 1em;
    border-radius: 0.45rem;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.35);
    z-index: 2;
    /* display: none; */
}
nav .subReddits ul li::before {
    content: "r/";
    font-size: x-large;
    color: white;
  }
nav .subReddits ul{

}
nav .subReddits ul li{
    /* background-color: var(--background-color); */
}

nav .subReddits ul li a{
    font-size: xx-large;
    text-decoration: none;
    color: white;
    
}