.comment{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr auto;
    grid-template-areas:
        "body body"
        "name name";
    margin-bottom: .75em;
    margin-left: 1em;
    margin-right: 1em;
    gap: .25em;
    padding: 0.25em 0.75em;
    box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.2), 0 3px 12px -3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.comment:first-child{
    /* first comment */
    background-color: aliceblue;
}
.comment:last-of-type{
    /* last comment */
    margin-bottom: .25rem;
    padding-bottom: .25rem;
}
.comment-body{
    grid-area: body;
}
.comment-name{
    grid-area: name;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

