
.container{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 5em auto 1.6em;
  justify-content: center;
  min-height: 95.7vh;
}
header{
  display: inline-flex;
  background-color: var(--accent-color);
  color: #FFF;
  grid-column-start: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100vw;
  height: 5em;
  display: flex;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  padding: 0 0.25em;
}
header a, header a h2{
  margin-left: 1em;
  text-decoration: none;
  color: var(--background-color);
}
.header-right{
  display: inline-flex;
  align-items: center;
  margin-right: .75em;
}

.header-overhang{
  display: flex;
  background-color: var(--accent-color);
  color: #FFF;
  font-size: small;
  height: 1rem;
  width: 50%;
  border-radius: 0 0 .75rem .75rem;
  padding-bottom: .15rem;
  align-items: flex-end;
  justify-self: center;
  justify-content: center;
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transform: translate(-25px, 45px);
  z-index: -1;
}
.modal-background{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  z-index: -1;
}
.menu a{
  display: block;
  margin-right: 1.75em;
}
.header-right a svg{
  transform: scale(1.4);
}
header .search-modal svg{
  transform: scale(1.2);
}
nav {
  position: fixed;
  top: 50px;
  right: 2px;
  grid-column-start: 2;
  z-index: 2;
  display: none;
}
nav ul{
  list-style-type: none;
}
.subReddits-top svg {
  transform: scale(1.2);
  color: white;
}
main {
  grid-row: 2;
  height: fit-content;
  justify-self: center;
  position: relative;
}

footer {
  background-color: var(--accent-color);
  grid-row: 3 ;
  grid-column: span 2;
  text-align: center; 
  width: 100%;
  height: 2.5em;
}