.postList a{
    text-decoration: none;
    color: var(--font-color);
 }
.postList:first-child{
    margin-top: .25em;
}

.postList .load-post {
    display: flex;
    font-size: large;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 2rem;
    width: 6rem;
    margin: 0 50gor%;
    transform: translateX(-50%);
    color: var(--background-color);
    background-color: var(--accent-color);
    opacity: 0.5;
    border-radius: .25rem;
}