form{
    margin-right: 0em;
    display: flex;
    flex-direction: row;
}

.search-modal-top{
    align-self: flex-end;
    position: relative;
    display: block;
    justify-content: center;
    background-color: var(--accent-color);
    height: 1.36em;
    width: 2em;
    top: -1.7em;
    right: -.75em;
    padding-bottom: .2rem;
    border-radius: .45em .45em 0 0;
    box-shadow: -6px -5px 10px -5px rgba(0, 0, 0, 0.25), 
                6px -5px 10px -5px rgba(0, 0, 0, 0.25);
}
.search-modal{
    background-color: var(--accent-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 3em;
    width: 10em;
    padding: .15em .75em;
    border-radius: .45rem 0 .45rem .45rem;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.45);
    top: 3.1em;
    right: 2.3em;
    z-index: 2;
}
input[type=search]{
    border: 0;
    background-color: var(--background-color);
    position: absolute;
    top: 1em;
    align-self: center;
    height: 2em;
    border-radius: 0.25em;
    width: 10rem;
    padding-left: .5em;
    outline: 0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}
button{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}