form{
    margin-right: 0rem;
    display: flex;
    flex-direction: row;
}
.search-modal{
    background-color: var(--accent-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 12.1rem;
    padding: .15rem 1.75rem .15rem .25rem;
    border-radius: .45rem .45rem .45rem .45rem;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.45);
    top: 1.35rem;
    right: 3.2rem;
    z-index: 3;
    transform-origin: right;

    animation: search-expand .1s ease-in-out;
}
@keyframes search-expand {
    from{
        
        transform: scaleX(0);
    }
    to{
        transform: scaleX(12.1rem);
    }
    
}
input[type=search]{
    border: 0;
    background-color: var(--background-color);
    position: absolute;
    top: .20rem;
    align-self: flex-start;
    height: 1.9rem;
    border-radius: 0.35rem;
    width: 80.5%;
    padding-left: .5rem;
    padding-right: 1.7rem;
    outline: 0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform-origin: right;
    animation: search-expand .1s ease-in-out;
}
.search-modal button{
    color: var(--accent-color);
    background: none;
    position: absolute;
    width: 1.5rem;
    right: 2.65rem;
    top: .4rem;
    transform: scale(.9);
    transform-origin: right;
    animation: search-expand .1s ease-in-out;
}
