.post {
	display: grid;
	grid-template-columns: 0.3fr 7fr;
	grid-template-rows: 0.1fr 1fr auto auto 0.1fr;
	grid-template-areas:
		'head head'
		'title title'
		'text text'
		'media media'
		'info info';
	margin-bottom: 0.75em;
	margin-left: 1em;
	margin-right: 1em;
	gap: 0.25em;
	padding: 0.75em 0.75em;
	box-shadow:
		0 3px 12px 0 rgba(0, 0, 0, 0.2),
		0 3px 12px 0 rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	min-width: 300px;
	word-break: break-word;
}
.sub-title {
	display: inline-flex;
	font-size: xx-small;
	grid-area: head;
	justify-self: center;
	width: auto;
}
.post-title {
	grid-area: title;
	justify-self: center;
	text-align: center;
}

.post-text {
	grid-area: text;
	width: 100%;
}

pre {
	text-wrap: wrap;
}
.post-media {
	grid-area: media;
	display: flex;
	justify-content: center;

	min-height: 4rem;
	margin-bottom: 0.25rem;

	img {
		width: 400px;
		object-fit: contain;
	}
}
.post-info {
	grid-area: info;
	display: inline-flex;
	justify-content: space-around;
	align-content: center;
	height: 100%;
	width: 100%;
	border-top: 1px solid rgb(178, 178, 178);
	font-size: small;
}
.post-info p {
	margin-top: 0.5em;
}
.post-info svg {
	font-size: 1em;
}
.post-info {
	a {
		text-decoration: none;
		color: var(--font-color);
	}
	.num_comments svg {
		margin-right: 0.25em;
	}
}
.post-title a {
	text-decoration: none;
	color: var(--font-color);
}
table {
	border-collapse: collapse;
	display: inline-block;
	text-wrap: wrap;
	word-break: keep-all;
}
thead {
	color: var(--secondary-background-color);
	background-color: var(--table-heading);
}
th {
	padding: 0.25rem 0.5rem;
}
td {
	padding: 0.1rem;
}
tr:nth-child(n + 2):nth-child(even) {
	background-color: var(--secondary-background-color);
}
.carousel-container {
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	width: 50%;
	.carousel {
		display: flex;
		flex: 0 0 auto;
		align-items: center;
	}
	p {
		scroll-snap-align: center;

		img:first-child {
			padding-right: 50px;
		}
		img:last-child {
			padding-left: 50px;
		}
	}
}
.carousel-container::-webkit-scrollbar {
	background-color: var(--background-color);
}
.carousel-container::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
}

@media screen and (max-width: 576px) {
	.post {
		font-size: 0.9rem;
		.post-info {
			font-size: 0.9em;
		}
		.post-media {
			img {
				width: 300px;
			}
		}
	}
	pre {
		font-size: xx-small;
	}
	table {
		font-size: small;
	}
	.carousel-container {
		width: auto;
		padding: 0 50%;
		p {
			img:first-child {
				padding-right: 0;
				margin-right: 25px;
				margin-left: 25px;
			}
			img:last-child {
				padding-left: 0;
			}
		}
	}
}
