.post{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: .1fr 1fr auto auto .1fr;
    grid-template-areas:
        "head head"
        "title title"
        "votes text"
        "votes image"
        "info info";
    margin-bottom: .75em;
    margin-left: 1em;
    margin-right: 1em;
    gap: .25em;
    padding: .75em .75em;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.sub-title{
    font-size: xx-small;
    grid-area: head;
    justify-self: center;
    width: auto;
}
.post-title{
    grid-area: title;
    justify-self: center;
    text-align: center;
    width: 100%;
}
.votes{
    grid-area: votes;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.post-text{
    grid-area: text;
}
.image-container{
    grid-area: image;
    justify-self: center;
    min-height: 4rem;
    width: 100%;
}
.post-info{
    grid-area: info;
    display: inline-flex;
    border-top: 1px solid rgb(178, 178, 178);
    font-size: small;
}
.post-info p{
    margin-top: .5em;
    width: 100%;
}
